
<!-- Contact Us Section -->
<section class="contact">
    <div class="container contact-container">
        <div class="contact-info">
            <h3>We Are Here to Assist You</h3>
            <p>
                <span>Our Location:</span>
                Hatfield, Pretoria, South Africa
            </p>
            <p>
                <span>Email Us:</span>
                info&#64;hotel-and-resort.com
            </p>
            <p>
                <span>Contact Number:</span>
               +27 84 8650 564
            </p>
        </div>
        <div class="contact-form">
            <form>
                <div>
                    <input type="text" placeholder="First Name" required>
                    <input type="text" placeholder="Last Name" required>
                </div>
                <div>
                    <input type="email" placeholder="Your Email" required>
                    <input type="tel" placeholder="Your Phone" required>
                </div>
                <textarea placeholder="Your Message" rows="5" required></textarea>
                <button type="submit">Submit Your Inquiry</button>
            </form>
        </div>
    </div>
</section>